task3/.metadata/
task6/.metadata/
task7/.metadata/
task7/.recommenders/
task9/.metadata/
task9/.recommenders/
task8/.metadata/
task10/.metadata/
task10/.recommenders/
task17/.metadata/
task17/.recommenders/
*/.metadata/
*/.recommenders/
*/Servers/
task8/MemoryLeak/dumps/
task1/RemoteSystemsTempFiles/.project
task10/DBCopyTool/.gitignore
task10/DBGenerator/.gitignore
task10/DBGenerator/.settings/org.eclipse.wst.common.project.facet.core.xml
task12/RemoteSystemsTempFiles/.project
task12/task12/.gitignore
task14/GradleProject/.gitignore
task14/GradleProject/.gradle/
task14/GradleProject/.settings/
task14/MavenProject/.gitignore
task14/MavenProject/.settings/.jsdtscope
task14/MavenProject/.settings/org.eclipse.jdt.core.prefs
task14/MavenProject/.settings/org.eclipse.m2e.core.prefs
task14/MavenProject/.settings/org.eclipse.wst.common.component
task14/MavenProject/.settings/org.eclipse.wst.common.project.facet.core.xml
task14/MavenProject/.settings/org.eclipse.wst.jsdt.ui.superType.container
task14/MavenProject/.settings/org.eclipse.wst.jsdt.ui.superType.name
task14/MavenProject/.settings/org.eclipse.wst.validation.prefs
task15/Mongo/.gitignore
task15/Mongo/.settings/org.eclipse.core.resources.prefs
task15/Mongo/.settings/org.eclipse.jdt.core.prefs
task15/Mongo/.settings/org.eclipse.m2e.core.prefs
task16/task16/.gitignore
task16/task16/.settings/org.eclipse.core.resources.prefs
task16/task16/.settings/org.eclipse.jdt.core.prefs
task16/task16/.settings/org.eclipse.m2e.core.prefs
task17/SOAPClient/.settings/org.eclipse.jdt.core.prefs
task17/SOAPWebService/.settings/org.eclipse.jdt.core.prefs
task17/gson-2.8.0.jar
task17/rest/src/main/java/com/epam/jmp/dr/task17/rest/entities/SuperUser.java
task17/rest/src/main/java/com/epam/jmp/dr/task17/rest/entities/UserType.java
task3/Abstract Factory/.gitignore
task3/RemoteSystemsTempFiles/.project
task3/Singleton/.gitignore
task6/Calculator/.classpath
task6/Calculator/.gitignore
task6/Calculator/.project
task6/Calculator/.settings/org.eclipse.jdt.core.prefs
task6/RemoteSystemsTempFiles/.project
task7/Concurrent/.gitignore
task8/Deadlock/.gitignore
task8/MemoryLeak/.gitignore
task8/MemoryLeakFixed/.gitignore
task9/Spring/.gitignore
