task3/.metadata/
task6/.metadata/
task7/.metadata/
task7/.recommenders/
task9/.metadata/
task9/.recommenders/
task8/.metadata/
task10/.metadata/
task10/.recommenders/
task17/.metadata/
task17/.recommenders/
